/* text styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--fg12);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

p {
  margin: 1rem 0;
}

/* article layout */
header {
  margin-bottom: 3rem;
}

header .summary {
  margin-top: 1rem;
}

section {
  margin: 3rem 0;
}

aside {
  margin: 1rem 0;
}

/* lists */

ul {
  list-style-position: inside;
}

/* tables */

table {
  width: 100%;
  border-collapse: collapse;
}

thead td {
  font-weight: bold;
}

td {
  border: 1px solid var(--fg6);
  padding: 8px;
}

td > b {
  font-weight: 600;
}

td > p {
  margin: 0;
  color: var(--fg10);
}
